<div class="container">

	<div class="row jumbotron">
		<div class="col-md-6">
			<infograph-image info="/assets/img/accolade_info_earner.svg"></infograph-image>
		</div>

		<div class="col-md-6" id="acco-blurb">
			<h1>Accolade</h1>
			<h4>A digital badge platform</h4>
			<p>Accolade provides users with the ability to recognise their earned achievements throughout their time in education. Completing pins and learning modules enables students to participate in courses, learn course content and earn digital badges in a fun and innovative way!</p>

			<hr>

			<div class="row">
				<a href="/register">
					<div class="col-md-6">
						<div class="panel panel-primary" id="earner-btn">
		    				<div class="panel-heading" id="acco-panel-e-heading">
		        				<h2 class="panel-title">Click and become an Earner now!</h2>
		    				</div>
		    				<div class="panel-body" id="acco-panel-body">
		        				<earner-image info="/assets/img/earner.svg"></earner-image>
		    				</div>
						</div>
					</div>
				</a>

				<div class="col-md-6">
					<div class="panel panel-primary">
	    				<div class="panel-heading" id="acco-panel-i-heading">
	        				<h2 class="panel-title">Become an Issuer!</h2>
	    				</div>
	    				<div class="panel-body" id="acco-panel-body">
	        				<issuer-image info="/assets/img/issuer.svg"></issuer-image>
	    				</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<hr>

	<div class="row">
		<div id="acco-blurb">
			<h1>Meet The Team:</h1>
		</div>
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/david.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>David Linsell</h4>
				<p>Technical Manager</p>
    		</div>
		</div>
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/evan.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>Evan Packard</h4>
				<p>Legal</p>
    		</div>
		</div>		
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/daniel.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>Daniel Pekevski</h4>
				<p>Project Manager</p>
    		</div>
		</div>		
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/joe.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>Arabella Pollock</h4>
				<p>Business Analyst</p>
    		</div>
		</div>		
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/chris.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>Christopher Sheaffe</h4>
				<p>Engineer</p>
    		</div>
		</div>		
		<div class="panel panel-default col-md-2">
    		<div class="panel-body">
				<developer-image info="/assets/img/joe.jpg"></developer-image>

    		</div>
    		<div class="panel-footer row">
    			<h4>Joseph Tsindos</h4>
				<p>Engineer</p>
    		</div>
		</div>			
	</div>
</div>

